{% load static i18n %}
<div id="top-menu" class="top-menu"><ul class="nav" >

    <li class="has-sub active">
        <a href="{{ APP.maindomain }}"><i class="fa fa-th-home"></i><span>HOME</span></a>

    </li>


    <li class="has-sub">
        <a href="javascript:;"><i class="fa fa-th-large"></i><span>Skote</span><b class="caret"></b></a>
        <ul class="sub-menu">
            <li><a href="{{ APP.maindomain }}/doc/skote/index.html">index</a></li>

        </ul>
    </li>


    <li class="has-sub ">
        <a href="javascript:;"><i class="fa fa-th-large"></i><span>F-Chart</span><b class="caret"></b></a>
        <ul class="sub-menu">
            <li><a href="{{ APP.maindomain }}/doc/froalachart/Line.html">Line</a></li>
            <li><a href="{{ APP.maindomain }}/doc/froalachart/Area.html">Area</a>

            <li><a href="{{ APP.maindomain }}/doc/froalachart/Bar.html">Bar</a></li>
            <li><a href="{{ APP.maindomain }}/doc/froalachart/Column.html">Column</a></li>

            <li><a href="{{ APP.maindomain }}/doc/froalachart/Bubble.html">Bubble</a></li>
            <li><a href="{{ APP.maindomain }}/doc/froalachart/Combination.html">Combination</a></li>
            <li><a href="{{ APP.maindomain }}/doc/froalachart/HeatMap.html">HeatMap</a></li>
            <li><a href="{{ APP.maindomain }}/doc/froalachart/pie.html">pie</a></li>

            <li ><a class="text-red" href="{{ APP.maindomain }}/doc/froalachart/Funnel.html">Funnel</a></li>
            <li><a class="text-red" href="{{ APP.maindomain }}/doc/froalachart/Pyramid.html">Pyramid</a></li>

            <li><a class="text-green" href="{{ APP.maindomain }}/doc/froalachart/Radar.html">Radar</a></li>
            <li><a class="text-green" href="{{ APP.maindomain }}/doc/froalachart/Doughnut.html">Doughnut</a></li>
            <li><a class="text-green" href="{{ APP.maindomain }}/doc/froalachart/AngularGuage.html">AngularGuage</a></li>
            <li><a class="text-green"  href="{{ APP.maindomain }}/doc/froalachart/Sankey.html">Sankey</a></li>
            <li><a class="text-green"  href="{{ APP.maindomain }}/doc/froalachart/Chord.html">Chord</a></li>

            <li><a class="text-blue"  href="{{ APP.maindomain }}/doc/froalachart/ScatterXY.html">ScatterXY</a></li>

            <li><a href="{{ APP.maindomain }}/doc/froalachart/StackedArea.html">StackedArea</a></li>
            <li><a href="{{ APP.maindomain }}/doc/froalachart/StackedBar.html">StackedBar</a></li>
            <li><a href="{{ APP.maindomain }}/doc/froalachart/TimeSeries.html">TimeSeries</a></li>
            <li><a href="{{ APP.maindomain }}/doc/froalachart/StackedColumn.html">StackedColumn</a></li>
            <li><a href="{{ APP.maindomain }}/doc/froalachart/zzz.html">zzz</a></li>

        </ul>
    </li>

    <li class="has-sub active">
        <a href="javascript:;">
            <i class="fa fa-th-large"></i><span>별도의 베이스 템플릿</span><b class="caret"></b>
        </a>
        <ul class="sub-menu">
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/basetype/widget.html">Widget</a></li>

            <li><a href="{{ APP.maindomain }}/doc/coloradmin/basetype/image.html">image</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/basetype/image2.html">image2</a></li>


            <li><a href="{{ APP.maindomain }}/doc/coloradmin/basetype/calendar.html">calendar</a></li>

            <li><a href="{{ APP.maindomain }}/doc/coloradmin/basetype/map_google.html">map_google</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/basetype/map_vector.html">map_vector</a></li>

            <li><a href="{{ APP.maindomain }}/doc/coloradmin/page/cal.html">car</a></li>

        </ul>
    </li>



    <li class="has-sub ">
        <a href="javascript:;"><i class="fa fa-th-large"></i><span>UI</span><b class="caret"></b></a>
        <ul class="sub-menu">
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/ui/ui_general.html">ui_general</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/bootstrap.html">bootstrap</a></li>

            <li><a href="{{ APP.maindomain }}/doc/coloradmin/ui/ui_buttons.html">ui_buttons</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/ui/ui_social_buttons.html">Social Buttons</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/ui/ui_typography.html">Typography</a></li>

            <li><a href="{{ APP.maindomain }}/doc/coloradmin/ui/ui_media_object.html">Media Object</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/ui/ui_modal_notification.html">Modal & Notification</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/ui/ui_tabs.html">Tab</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/ui/ui_unlimited_tabs.html">ui_unlimited_tabs</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/ui/ui_accordions.html">Accordions</a></li>



            <li><a class="text-blue" href="{{ APP.maindomain }}/doc/coloradmin/table.html">Basic Tables</a></li>
            <li><a class="text-blue" href="{{ APP.maindomain }}/doc/coloradmin/table_manage.html">Tables Manage</a></li>





        </ul>
    </li>

    <li class="has-sub ">
        <a href="javascript:;"><i class="fa fa-th-large"></i><span>미설정</span><b class="caret"></b></a>
        <ul class="sub-menu">
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/ui/ui_simple_line_icons.html">ui_simple_line_icons</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/ui/ui_icons.html">Icons</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/ui/ui_ionicons.html">Iconicons</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/ui/ui_language_bar_icon.html">Language Bar & Icon</a></li>

            <li><a href="#">Nav Tabs</a></li>
            <li><a href="#">Intro JS</a></li>
            <li><a href="#">TreeView</a></li>
            <li><a href="#">Widget Box</a></li>

        </ul>
    </li>



    <li class="has-sub ">
        <a href="javascript:;"><i class="fa fa-th-large"></i><span>Forum</span><b class="caret"></b></a>
        <ul class="sub-menu">
            <li><a href="#">Form Elements</a></li>
            <li><a href="#">Form Plugins</a></li>
            <li><a href="#">Form Slider + Switcher</a></li>
            <li><a href="#">Form Validation</a></li>

            <li class="active"><a href="#">Wizard</a></li>
            <li><a href="#">WYSIWYG</a></li>
            <li><a href="#">X-Editable</a></li>
            <li><a href="#">Multiplue File Upload</a></li>
            <li><a href="#">Summernote</a></li>
            <li><a href="#">Dropzone</a></li>

        </ul>
    </li>


    <li class="has-sub">
        <a href="javascript:;"><i class="fa fa-th-large"></i><span>페이지</span><b class="caret"></b></a>
        <ul class="sub-menu">
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/css.html">css</a></li>

            <li><a href="{{ APP.maindomain }}/doc/coloradmin/invoice.html">invoice</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/result.html">result</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/scrum.html">scrum</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/timeline.html">timeline</a></li>

            <li class="active"><a href="{{ APP.maindomain }}/doc/coloradmin/profile.html">profile</a></li>
            <li><a href="{{ APP.maindomain }}/doc/coloradmin/page/comingsoon.html">커밍 순</a></li>

            <li><a href="{{ APP.maindomain }}/doc/coloradmin/chart/d3.html">d3</a></li>

        </ul>
    </li>




    <li class="has-sub">
        <a href="javascript:;"><i class="fa fa-th-large"></i><span>어플리케이션</span><b class="caret"></b></a>
        <ul class="sub-menu">
            <li><a href="{% url 'blog:index' %}">블로그</a></li>
            <li><a href="{% url 'forum:index' %}">포럼</a></li>
            <li><a href="{% url 'support:index' %}">서포트</a></li>
            <li><a href="{% url 'sample:index' %}">샘플</a></li>
        </ul>
    </li>



				<li class="menu-control menu-control-left">
					<a href="javascript:;" data-click="prev-menu"><i class="fa fa-angle-left"></i></a>
				</li>
				<li class="menu-control menu-control-right">
					<a href="javascript:;" data-click="next-menu"><i class="fa fa-angle-right"></i></a>
				</li>
</ul></div>


































