<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'accounts:index' %}">  <h3>비밀번호 변경</h3></a>


    <a class="nav-link" href="{% url 'accounts:logout' %}"> (로그아웃)</a> <br/><br/>


    <form method="POST" action="{% url 'accounts:change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form}}
        <button class="btn btn-primary" type="submit" name="action">Change </button>
    </form>


<br/><br/><br/>
<a href="{% url 'accounts:profile' %}">profile</a>


</body>
</html>