{% load static i18n  %}



  <link rel="stylesheet" href="{% static 'FROALA/css/froala_editor.css' %}">
  <link rel="stylesheet" href="{% static 'FROALA/css/froala_style.css' %}">

  <link rel="stylesheet" href="{% static 'FROALA/css/plugins/code_view.css' %}">
  <link rel="stylesheet" href="{% static 'FROALA/css/plugins/colors.css' %}">
  <link rel="stylesheet" href="{% static 'FROALA/css/plugins/emoticons.css' %}">
  <link rel="stylesheet" href="{% static 'FROALA/css/plugins/image_manager.css' %}">
  <link rel="stylesheet" href="{% static 'FROALA/css/plugins/image.css' %}">
  <link rel="stylesheet" href="{% static 'FROALA/css/plugins/line_breaker.css' %}">
  <link rel="stylesheet" href="{% static 'FROALA/css/plugins/table.css' %}">
  <link rel="stylesheet" href="{% static 'FROALA/css/plugins/char_counter.css' %}">
  <link rel="stylesheet" href="{% static 'FROALA/css/plugins/video.css' %}">
  <link rel="stylesheet" href="{% static 'FROALA/css/plugins/fullscreen.css' %}">
  <link rel="stylesheet" href="{% static 'FROALA/css/plugins/file.css' %}">
  <link rel="stylesheet" href="{% static 'FROALA/css/plugins/quick_insert.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
    <script type="text/javascript" src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>



  <link rel="stylesheet" href="{% static 'FROALA/COLORADMIN/COMP_TABLE.css' %}">
