{% load static i18n  %}



<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>


  <script type="text/javascript" src="{% static 'FROALA/js/froala_editor.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/table.min.js' %}   "></script>



  <script type="text/javascript" src="{% static 'FROALA/js/plugins/align.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/char_counter.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/code_beautifier.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/code_view.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/colors.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/draggable.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/edit_in_popup.min.js' %}   "></script>

  <script type="text/javascript" src="{% static 'FROALA/js/plugins/emoticons.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/entities.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/file.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/font_family.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/font_size.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/forms.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/fullscreen.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/help.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/image.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/image_manager.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/inline_class.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/inline_style.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/line_breaker.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/line_height.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/link.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/lists.min.js' %}   "></script>

  <script type="text/javascript" src="{% static 'FROALA/js/plugins/paragraph_format.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/paragraph_style.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/print.min.js' %}   "></script>

  <script type="text/javascript" src="{% static 'FROALA/js/plugins/quick_insert.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/quote.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/save.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/special_characters.minjs' %}   "></script>

  <script type="text/javascript" src="{% static 'FROALA/js/plugins/table.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/url.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/video.min.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/js/plugins/word_paste.min.js' %}   "></script>





  <script type="text/javascript" src="{% static 'FROALA/COLORADMIN/COMP_ALERT.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/COLORADMIN/COMP_BOX.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/COLORADMIN/COMP_TABLE.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/COLORADMIN/COMP_CODE.js' %}   "></script>
  <script type="text/javascript" src="{% static 'FROALA/COLORADMIN/COMP_LABEL.js' %}   "></script>


  <script type="text/javascript" src="{% static 'FROALA/COLORADMIN/js_post.js' %}   "></script>
