{% load static i18n %}

{% include 'COLORADMIN_ADMIN/UI_Comp/FORM_page_edit.html'   %}
<br/>





<div class="row" >
  <script type="text/javascript">
          var data_{{ DATA.id }} = {{ DATA.json|safe }}  ;
  </script>

  <script type="text/javascript">
          FroalaCharts.ready(function() {
            new FroalaCharts({
              id: "chart_id_{{ DATA.id }}",
              type: 'pie',
              renderAt: 'ft_{{ DATA.id }}',
              width: '100%',
              height: '500',
              dataSource: data_{{ DATA.id }}
            }).render();
          });
  </script>

  <div id="ft_{{ DATA.id }}" style="width: 100% ; background-color: red">Charts will render here</div>

{% if DATA.note %}

    <div class="alert alert-primary" style="margin: auto; width: 80%;">{{ DATA.note|safe }}</div>


{% else %}

{% endif %}



<br/><br/>


</div>



<br/><br/>

CHART_COMP_pie
</div>

{{ DATA.context }}
<br>

{{   DATA.note|ftable_2_tchart:DATA.context }}
<br/><br/>

{% for item in DATA.note|ftable_2_tchart:DATA.context %}
{{ item|getlist:0 }}  {{ item|getlist:1 }}  <br/>
{% endfor %}
