{% load static i18n %}
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<a href="javascript:;" data-toggle="nav-profile">
							<div class="cover with-shadow"></div>
							<div class="image">
								<img src="{% static 'COLORADMIN_ADMIN/img/user/user-10.jpg' %}" alt="" />
							</div>
							<div class="info">
								<b class="caret pull-right"></b>아모이스
								<small>개발자</small>
							</div>
						</a>
					</li>
					<li>
						<ul class="nav nav-profile">
							<li><a href="javascript:;"><i class="fa fa-cog"></i> 설정</a></li>
							<li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> 문서</a></li>
							<li><a href="javascript:;"><i class="fa fa-question-circle"></i> 헬프</a></li>
						</ul>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">

					<li class="nav-search">
						<input type="text" class="form-control" placeholder="Sidebar menu filter..." data-sidebar-search="true" />
					</li>

                    <li class="nav-header">내비게이션</li>


                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            <i class="fa fa-th-large"></i>
                            <span>대쉬보드</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="../index.html">Dashboard v1</a></li>
                            <li><a href="../index_v2.html">Dashboard v2</a></li>
                            <li><a href="../index_v3.html">Dashboard v3</a></li>


                            <li><a href="../widget.html"> Widgets  <i class="fa fa-th-large"></i> <span class="label label-theme">NEW</span>  <span class="badge pull-right">10</span> </a> </li>
                            <li><a href="../bootstrap_4.html"> Bootstrap 4   <i class="fa fa-th-large"></i> <span class="label label-theme">NEW</span>  <span class="badge pull-right">10</span> </a> </li>
                        </ul>
                    </li>










					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fa fa-gem"></i>
							<span>UI Elements <span class="label label-theme">NEW</span></span>
						</a>
						<ul class="sub-menu">
							<li><a href="../ui_general.html">General <i class="fa fa-paper-plane text-theme"></i></a></li>
							<li><a href="../ui_typography.html">Typography</a></li>
							<li><a href="../ui_tabs_accordions.html">Tabs & Accordions</a></li>
							<li><a href="../ui_unlimited_tabs.html">Unlimited Nav Tabs</a></li>
							<li><a href="../ui_modal_notification.html">Modal & Notification <i class="fa fa-paper-plane text-theme"></i></a></li>
							<li><a href="../ui_widget_boxes.html">Widget Boxes</a></li>
							<li><a href="../ui_media_object.html">Media Object</a></li>
							<li><a href="../ui_buttons.html">Buttons <i class="fa fa-paper-plane text-theme"></i></a></li>
							<li><a href="../ui_icons.html">Icons</a></li>
							<li><a href="../ui_simple_line_icons.html">Simple Line Icons</a></li>
							<li><a href="../ui_ionicons.html">Ionicons</a></li>
							<li><a href="../ui_tree.html">Tree View</a></li>
							<li><a href="../ui_language_bar_icon.html">Language Bar & Icon</a></li>
							<li><a href="../ui_social_buttons.html">Social Buttons</a></li>
							<li><a href="../ui_tour.html">Intro JS</a></li>
						</ul>
					</li>

					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fa fa-list-ol"></i>
							<span>Form Stuff <span class="label label-theme">NEW</span></span>
						</a>
						<ul class="sub-menu">
							<li><a href="../form_elements.html">Form Elements <i class="fa fa-paper-plane text-theme"></i></a></li>
							<li><a href="../form_plugins.html">Form Plugins <i class="fa fa-paper-plane text-theme"></i></a></li>
							<li><a href="../form_slider_switcher.html">Form Slider + Switcher</a></li>
							<li><a href="../form_validation.html">Form Validation</a></li>
							<li><a href="../form_wizards.html">Wizards <i class="fa fa-paper-plane text-theme"></i></a></li>
							<li><a href="../form_wysiwyg.html">WYSIWYG</a></li>
							<li><a href="../form_editable.html">X-Editable</a></li>
							<li><a href="../form_multiple_upload.html">Multiple File Upload</a></li>
							<li><a href="../form_summernote.html">Summernote</a></li>
							<li><a href="../form_dropzone.html">Dropzone</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fa fa-table"></i>
							<span>Tables</span>
						</a>
						<ul class="sub-menu">
							<li><a href="../table_basic.html">Basic Tables</a></li>
							<li class="has-sub">
								<a href="javascript:;"><b class="caret"></b> Managed Tables</a>
								<ul class="sub-menu">
									<li><a href="../table_manage.html">Default</a></li>
									<li><a href="../table_manage_autofill.html">Autofill</a></li>
									<li><a href="../table_manage_buttons.html">Buttons</a></li>
									<li><a href="../table_manage_colreorder.html">ColReorder</a></li>
									<li><a href="../table_manage_fixed_columns.html">Fixed Column</a></li>
									<li><a href="../table_manage_fixed_header.html">Fixed Header</a></li>
									<li><a href="../table_manage_keytable.html">KeyTable</a></li>
									<li><a href="../table_manage_responsive.html">Responsive</a></li>
									<li><a href="../table_manage_rowreorder.html">RowReorder</a></li>
									<li><a href="../table_manage_scroller.html">Scroller</a></li>
									<li><a href="../table_manage_select.html">Select</a></li>
									<li><a href="../table_manage_combine.html">Extension Combination</a></li>
								</ul>
							</li>
						</ul>
					</li>
                    {% include '00_sample/coloradmin/page/MENU_ITEM.html' %}


					<!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
