{% load static i18n %}

<!-- begin login-header -->
<div class="login-header">
    <div class="brand">
        <span class="logo"></span> <b>로그인</b>
        <small>&nbsp;</small>
    </div>

<!-- fa-lock  -->

    <div class="icon"><i class="fa fa-sign-in-alt"></i></div>

</div>
<!-- end login-header -->
<!-- begin login-body -->
<div class="login-body">
    <!-- begin login-content -->
    <div class="login-content">
        <form class="login" method="POST"  class="margin-bottom-0" novalidate>
            {% csrf_token %}


            <div class="form-group m-b-20">
                <input type="text"     name = "username" class="form-control form-control-lg inverse-mode" placeholder="아이디" required />
            </div>
            <div class="form-group m-b-20">
                <input type="password" name = "password" class="form-control form-control-lg inverse-mode" placeholder="패스워드" required />
            </div>
            <div class="checkbox checkbox-css m-b-20">
                <input type="checkbox" id="remember_checkbox" />
                <label for="remember_checkbox">계정정보 기억하기</label>
            </div>
            <div class="login-buttons">
                <button type="submit" class="btn btn-success btn-block btn-lg">로그인하기</button>
            </div>
            <div class=" checkbox-css m-b-20"><br/>
                <label for="remember_checkbox"><a href="{% url 'accounts:signin' %}">계정만들기</a> </label>
            </div>
						<hr />
						<p class="text-center text-grey-darker mb-0">support@amoisoo.com</p>
        </form>
    </div>
    <!-- end login-content -->
</div>
<!-- end login-body -->