{% extends "COLORADMIN_FRONT/BLOG/base.html" %}
{% load static i18n %}

{% block body_extra %}{% endblock %}

{% block page_content %}






    <form action="{% url 'blog:search' %}" method="post">
        {% csrf_token %}
					<!-- begin section-container -->
    <div class="section-container">
        <div class="input-group sidebar-search">
            <input type="text" name="search_word" required="" id="id_search_word"class="form-control" placeholder="검색..." />
            <span class="input-group-append">
            <button class="btn btn-inverse" type="submit"><i class="fa fa-search"></i>
            </button>

            </span>

        </div>
    </div>

    </form>
    <hr>




    {% if object_list %}

					<!-- end section-container -->
					<!-- begin section-container -->
					<div class="section-container">
						<h4 class="section-title"><span>검색결과</span></h4>
						<ul class="sidebar-list">

                            {% for blog in object_list %}
                                <li><a href="{% url 'blog:detail'  blog.id%}">({{ blog.id }}) : {{ blog.title }}</a></li>
                            {% endfor %}

						</ul>
					</div>
					<!-- end section-container -->


    {% elif search_term %}


					<div class="section-container">
						<h4 class="section-title"><span>검색결과</span></h4>
                            <h2>검색 결과가 없습니다.</h2>
					</div>



    {% endif %}

    <br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/>




{% endblock %}