{% load static i18n %}

			<div class="row row-space-30">
				<!-- begin col-9 -->
				<div class="col-lg-12">
					<!-- begin post-detail -->
					<div class="post-detail section-container">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item"><a href="#">Sports</a></li>
							<li class="breadcrumb-item active">Bootstrap Carousel Blog Post</li>
						</ul>
						<h4 class="post-title">
							<a href="post_detail.html">Bootstrap Carousel Blog Post</a>
						</h4>
						<div class="post-by">
							Posted By <a href="#">admin</a> <span class="divider">|</span> 10 June 2018 <span class="divider">|</span> <a href="#">Sports</a>, <a href="#">Mountain</a>, <a href="#">Bike</a> <span class="divider">|</span> 2 Comments
						</div>
						<!-- begin post-image -->
						<div class="post-image">
							<div class="post-image-cover" style="background-image: url({% static 'COLORADMIN_FRONT/img/post/post-1.jpg' %})"></div>
						</div>
						<h3 class="about-me-title">Dagan Ammiel</h3>

						<!-- end post-image -->
						<!-- begin post-desc -->
						<div class="post-desc">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo eget quam sed tempor.
								Morbi vel libero eget urna interdum accumsan nec non nibh. Nam aliquam id ligula convallis egestas.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia lectus nibh, nec
								pellentesque lorem iaculis ut. Cras finibus arcu eget feugiat hendrerit. Suspendisse quis
								molestie velit. In hendrerit justo ac magna tristique viverra. Pellentesque rhoncus metus
								eget ex sagittis lacinia. In at dapibus erat. Phasellus imperdiet dui risus, eget efficitur
								tortor egestas nec. Integer fermentum sit amet mauris sollicitudin pulvinar.
								Quisque et viverra leo. Suspendisse neque nisi, lacinia facilisis sem ac, tincidunt lacinia augue.
								Etiam in dapibus nisl, non blandit urna. Proin scelerisque venenatis vestibulum.
								Proin iaculis finibus turpis, eget rhoncus tortor tempor a.
							</p>
						</div>
						<!-- end post-desc -->


					</div>
					<!-- end post-detail -->





                    {% include 'COLORADMIN_FRONT/BLOG/COMMON/PART_comment.html' %}

				</div>
				<!-- end col-9 -->

			</div>

