<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>support Index</h3>

{% if user.is_authenticated %}
    {{request.user.username}} / {{ user.username }} / {{request.user.email}}
    <a class="nav-link" href="{% url 'accounts:profile' %}"> profile</a> <br/><br/>
    <a class="nav-link" href="{% url 'accounts:logout' %}"> (로그아웃)</a>
{% else %}
    <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
{% endif %}

<br/><br/><br/>

{{ SUPPORT.title }}<br/>
{{ SUPPORT.note }}
{{ SUPPORT.address }}


<hr/>


Document <br/>
Support <br/>
Download<br/>
Help<br/>
QnA<br/>


</body>
</html>