{% extends "SKOTE/UI_Comp/base_comp_visible.html" %}
{% load static i18n common%}

{% block COMP_VISIBLE %}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                {% include 'SKOTE/UI_Comp/FORM_page_edit.html'    %}

                <h2 class="card-title mb-4 text-primary" style="font-size: 20px ;  ">{{ DATA.title }}</h2>
                <hr/>
                {% if DATA.image %}
                        <div align="center"><img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ DATA.image }}" /></div>
                {% endif %}
                {{ DATA.note|safe }}

                {% if DATA.separator %}
                    <hr/>
                {% else %}
                    <br/>
                {% endif %}

        {% for pageChilde in PAGE_CHILD_LIST|hash:DATA.id %}

                        {% if pageChilde.component    == "Section" %}       {% include 'SKOTE/UI_Comp/COMP_set_section.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Title" %}    {% include 'SKOTE/UI_Comp/COMP_comp_title.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Parameter" %}    {% include 'SKOTE/UI_Comp/COMP_comp_Parameter.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Parameter2" %}   {% include 'SKOTE/UI_Comp/COMP_comp_Parameter2.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Code" %}         {% include 'SKOTE/UI_Comp/COMP_comp_code.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Latex" %}         {% include 'SKOTE/UI_Comp/COMP_comp_latex.html' with DATA=pageChilde   %}

                        {% elif pageChilde.component == "Memo" %}         {% include 'SKOTE/UI_Comp/COMP_text_memo.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Note" %}         {% include 'SKOTE/UI_Comp/COMP_text_note.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Info" %}         {% include 'SKOTE/UI_Comp/COMP_text_info.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Text" %}         {% include 'SKOTE/UI_Comp/COMP_text_text.html' with DATA=pageChilde   %}

                        {% elif pageChilde.component == "ImageView" %}    {% include 'SKOTE/UI_Comp/COMP_image.html' with DATA=pageChilde   %}

                        {% elif pageChilde.component == "Table" %}         {% include 'SKOTE/UI_Comp/COMP_comp_table.html' with DATA=pageChilde   %}


                        {% elif pageChilde.component == "Sum" %}         {% include 'SKOTE/UI_Comp/COMP_list_sum.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Card" %}         {% include 'SKOTE/UI_Comp/COMP_list_card.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Tab" %}          {% include 'SKOTE/UI_Comp/COMP_list_tab.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Accrodion" %}    {% include 'SKOTE/UI_Comp/COMP_list_accordion.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "List" %}         {% include 'SKOTE/UI_Comp/COMP_list_list.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Detail" %}       {% include 'SKOTE/UI_Comp/COMP_list_detail.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Box" %}          {% include 'SKOTE/UI_Comp/COMP_list_box.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Timeline" %}     {% include 'SKOTE/UI_Comp/COMP_list_timeline.html' with DATA=pageChilde   %}

                        {% elif pageChilde.component == "Todo" %}         {% include 'SKOTE/UI_Comp/COMP_list_todo.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Bbs" %}          {% include 'SKOTE/UI_Comp/COMP_list_bbs.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "FAQ" %}          {% include 'SKOTE/UI_Comp/COMP_list_faq.html' with DATA=pageChilde   %}

                        {% elif pageChilde.component == "Search" %}       {% include 'SKOTE/UI_Comp/COMP_list_search.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Carousel" %}     {% include 'SKOTE/UI_Comp/COMP_image_carousel.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "Gallery" %}      {% include 'SKOTE/UI_Comp/COMP_image_gallery.html' with DATA=pageChilde   %}




                        {% elif pageChilde.component == "Chart" %}        {% include 'FROALA_CHART/UI_Comp/CHART_COMP.html' with DATA=pageChilde   %}
                        {% elif pageChilde.component == "TableChart" %}        {% include 'FROALA_CHART/UI_Comp_Table/CHART_COMP.html' with DATA=pageChilde   %}


                        {% elif pageChilde.component == "Company" %}      {% include 'SKOTE/UI_Comp/COMP_comp_title.html' with DATA=pageChilde   %}

                        {% else %}{% include 'COLORADMIN_ADMIN/APP_BOOK/UI_Comp/PAGE_COMP_item.html' with DATA=pageChilde   %}
                        {% endif %}

        {% endfor %}

            </div>
        </div>
    </div>

</div>





{% endblock %}
