

{% extends "SKOTE/UI_Comp/base_comp_visible.html" %}
{% load static i18n common%}



{% block COMP_VISIBLE %}


<div class="col-lg-12">
        <div class="row no-gutters align-items-center">


            <div class="col-md-11">
                <div class="card-body">

                    <p class="card-text"><small class="text-muted">{{ DATA.subtitle }}</small></p>

                    <p class="card-text">{{ DATA.note|safe }}</p>
                </div>
            </div>


            <div class="col-md-1">
                {% include 'SKOTE/UI_Comp/FORM_page_edit.html'   %}
            </div>
        </div>
</div>
<br/>

{% endblock %}


