{% extends "SKOTE/UI_Comp/base_comp_visible.html" %}
{% load static i18n common%}



{% block COMP_VISIBLE %}
{% include 'SKOTE/UI_Comp/FORM_page_edit.html'   %}


<div class="media mb-4">
    <img class="d-flex align-self-start rounded mr-3" src="{% static 'SKOTE/images/users/avatar-3.jpg' %}" alt="Generic placeholder image" height="64">
    <div class="media-body">
        <h5 class="mt-0 font-16">{{ DATA.title }}</h5>
        <p class="mb-0">{{ DATA.note|safe }}</p>
    </div>
</div>







{% endblock %}


