{% extends "SKOTE/UI_Comp/base_comp_visible.html" %}
{% load static i18n common%}



{% block COMP_VISIBLE %}



            {% include 'SKOTE/UI_Comp/FORM_page_edit.html'    %} <br/><br/>



        <div class="card-body" style="">
            {% if DATA.layout == "LEFT"  %}
                <blockquote class="blockquote">
            {% else %}
                <blockquote class="blockquote text-center">
            {% endif %}

              <p>{{ DATA.title }}</p>
              <footer class="blockquote-footer">
                 <cite title="Source Title">{{ DATA.note|safe }}</cite>
              </footer>
            </blockquote>

        </div>
        <br/>
{% endblock %}


