{% load static i18n %}


		<div id="header" class="header navbar-default">
			<!-- begin navbar-header -->
			<div class="navbar-header">
				<a href="{{ APP.maindomain }}" class="navbar-brand"><span class="navbar-logo"></span> <b>AMOISOO</b>&nbsp;<b>블로그</b></a>

				<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>


            <!-- COLORADMIN_ADMIN/COMMON/HEADER_MENU.html -->
			<ul class="navbar-nav navbar-left">

			</ul>


			<!-- end navbar-header --><!-- begin header-nav -->
			<ul class="navbar-nav navbar-right">
                {% include 'COLORADMIN_ADMIN/APP_BLOG/COMMON/HEADER_LOGIN.html' %}

			</ul>
			<!-- end header-nav -->
		</div>
