{% load static i18n %}
<div id="top-menu" class="top-menu"><ul class="nav" >


    <li class="has-sub active">
        <a href="{% url 'blog:index' %}"><i class="fa fa-th-home"></i><span>Blog</span></a>
    </li>


    <li class="has-sub active">
        <a href="{% url 'blog:contact' %}"></i><span>지원</span></a>
    </li>

    <li class="has-sub active">
        <a href="{% url 'blog:archive' %}"></i><span>아카이브</span></a>
    </li>

    <li class="has-sub active">
        <a class="text-grey" href="{% url 'blog:search' %}"></i><span>검색</span></a>
    </li>

</ul></div>


































