{% extends "SKOTE/APP_BLOG/BASE/base_h.html" %}
{% load static i18n %}




{% block page_content %}
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Blog Grid</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Blog</a></li>
                            <li class="breadcrumb-item active">Blog Grid</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="card">
                    <div class="card-body p-4">




                        <div>
                            <p class="text-muted">Effects List</p>

                            <ul class="list-unstyled font-weight-medium">
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Auto Color</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Auto Contrast</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Auto Levles</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Black White</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Brightness Contrast</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Broadcast Colors</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> CC color Neutralizer</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> CC Color Offset</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> CC Kernel</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> CC Toner</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Change Color</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Change to Color</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Channel Mixer</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Color Balance</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Color Balance (HLS)</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Color Link</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Color Stabilizer</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Colorama</a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Curves<span class="badge badge-soft-success badge-pill ml-1 float-right font-size-12">12</span></a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Development <span class="badge badge-soft-success badge-pill float-right ml-1 font-size-12">04</span></a></li>

                            </ul>

                        </div>

                        <hr class="my-4">

                        <div>
                            <p class="text-muted">Archive</p>

                            <ul class="list-unstyled font-weight-medium">
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> 2020 <span class="badge badge-soft-success badge-pill float-right ml-1 font-size-12">03</span></a></li>
                                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> 2019 <span class="badge badge-soft-success badge-pill float-right ml-1 font-size-12">06</span></a></li>


                            </ul>
                        </div>



                    </div>
                </div>
                <!-- end card -->
            </div>


            <div class="col-xl-9 col-lg-8">
                <div class="card">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-custom justify-content-center pt-2" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#archive" role="tab">
                               Archive
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content p-4">

                        <div class="tab-pane active" id="archive" role="tabpanel">
                            <div>
                                <div class="row justify-content-center">
                                    <div class="col-xl  -8">
                                        <h5>Archive</h5>

                                        <div class="mt-5">
                                            <div class="d-flex flex-wrap">
                                                <div class="mr-2">
                                                    <h4>2020</h4>
                                                </div>
                                                <div class="ml-auto">
                                                    <span class="badge badge-soft-success badge-pill float-right ml-1 font-size-12">03</span>
                                                </div>
                                            </div>
                                            <hr class="mt-2">

                                            <div class="list-group list-group-flush">
                                                <a href="blog-details.html" class="list-group-item text-muted"><i class="mdi mdi-circle-medium mr-1"></i> Beautiful Day with Friends</a>

                                                <a href="blog-details.html" class="list-group-item text-muted"><i class="mdi mdi-circle-medium mr-1"></i> Drawing a sketch</a>

                                                <a href="blog-details.html" class="list-group-item text-muted"><i class="mdi mdi-circle-medium mr-1"></i> Project discussion with team</a>

                                            </div>
                                        </div>

                                        <div class="mt-5">
                                            <div class="d-flex flex-wrap">
                                                <div class="mr-2">
                                                    <h4>2019</h4>
                                                </div>
                                                <div class="ml-auto">
                                                    <span class="badge badge-soft-success badge-pill float-right ml-1 font-size-12">06</span>
                                                </div>
                                            </div>
                                            <hr class="mt-2">

                                            <div class="list-group list-group-flush">
                                                <a href="blog-details.html" class="list-group-item text-muted"><i class="mdi mdi-circle-medium mr-1"></i> Coffee with Friends</a>

                                                <a href="blog-details.html" class="list-group-item text-muted"><i class="mdi mdi-circle-medium mr-1"></i> Neque porro quisquam est</a>

                                                <a href="blog-details.html" class="list-group-item text-muted"><i class="mdi mdi-circle-medium mr-1"></i> Quis autem vel eum iure</a>

                                                <a href="blog-details.html" class="list-group-item text-muted"><i class="mdi mdi-circle-medium mr-1"></i> Cras mi eu turpis</a>

                                                <a href="blog-details.html" class="list-group-item text-muted"><i class="mdi mdi-circle-medium mr-1"></i> Drawing a sketch</a>

                                                <a href="blog-details.html" class="list-group-item text-muted"><i class="mdi mdi-circle-medium mr-1"></i> Project discussion with team</a>

                                            </div>
                                        </div>

                                        <div class="mt-5">
                                            <div class="d-flex flex-wrap">
                                                <div class="mr-2">
                                                    <h4>2018</h4>
                                                </div>
                                                <div class="ml-auto">
                                                    <span class="badge badge-soft-success badge-pill float-right ml-1 font-size-12">03</span>
                                                </div>
                                            </div>
                                            <hr class="mt-2">

                                            <div class="list-group list-group-flush">
                                                <a href="blog-details.html" class="list-group-item text-muted"><i class="mdi mdi-circle-medium mr-1"></i> Beautiful Day with Friends</a>

                                                <a href="blog-details.html" class="list-group-item text-muted"><i class="mdi mdi-circle-medium mr-1"></i> Drawing a sketch</a>

                                                <a href="blog-details.html" class="list-group-item text-muted"><i class="mdi mdi-circle-medium mr-1"></i> Project discussion with team</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!-- end row -->

    </div>

{% endblock %}



