{% extends "SKOTE/APP_BLOG/BASE/base_h.html" %}
{% load static i18n %}



{% block page_content %}
      {% include 'FROALA/css_pre_include.html' %}


<div class="container-fluid">
    <a href="{% url 'blog:index' %}"> <h3>블로그 작성</h3> </a>





              <form  method="POST"   enctype="multipart/form-data" novalidate>
                  {% csrf_token %}

                   {% include 'COLORADMIN_ADMIN/COMMON/FORM_create_title.html' %}


                  <div class="form-row">
                   {% include 'COLORADMIN_ADMIN/COMMON/FORM_update_component_menu.html' %}

                   {% include 'COLORADMIN_ADMIN/COMMON/FORM_create_id.html' %}



                  </div>





                   {% include 'COLORADMIN_ADMIN/COMMON/FORM_create_code.html' %}





                  <br/><br/><br/>

                  <button type="submit" class="btn btn-success primaryAction   btn-block">{% trans "새글 작성" %}</button>



                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
            </form>







</div></div>



          {% include 'FROALA/js_post_include.html' %}

{% endblock %}



