{% extends "COLORADMIN_ADMIN/BASE/base_forum.html" %}
{% load static i18n %}

{% block body_extra %}{% endblock %}


{% block page_navi %}
    {% if LAYOUT.NAVI_POSITION == 'TOP' %}
        {% include 'COLORADMIN_ADMIN/APP_FORUM/COMMON/NAVI_TOP.html' %}
    {% else %}
        {% include 'COLORADMIN_ADMIN/APP_FORUM/COMMON/NAVI_SIDE.html' %}

    {% endif %}
{% endblock %}




{% block page_content %}
<div id="content" class="content">
        케멘트 삭제

            <h3>{{ object.title }}</h3>
            ({{ object.id }})
            {{ object.note|safe }}
            <hr/>

            <form class="login" method="POST"  novalidate>
              {% csrf_token %}
              {{ form }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}


                    <div class="form-group col-md-2">
                      <label for="id">parent_id</label>
                      <input type="text" class="form-control" id="parent"  name="parent" value="{{ object.parent_id }}">
                    </div>


              <div class="form-group mb-0 mt-4">
                <button class="primaryAction btn btn-danger btn-block" type="submit">{% trans "글 삭제" %}</button>
              </div>


            </form>


</div>
{% endblock %}



