{% extends "COLORADMIN_ADMIN/BASE/base_email_newsletter.html" %}
{% load static i18n %}

{% block body_extra %}{% endblock %}

{% block page_content %}

	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<!-- begin page header -->
					<table class="row header">
						<tr>
							<td class="center" align="center">
								<center>
									<!-- begin container -->
									<table class="container">
										<tr>
											<td class="wrapper">
												<!-- begin six columns -->
												<table class="six columns">
													<tr>
														<td>
															<a href="{% url 'support:index' %}"><img src="{% static 'COLORADMIN_ADMIN/img/logo/logo-admin.png' %}" height="20px" /></a>
														</td>
														<td class="expander"></td>
													</tr>
												</table>
												<!-- end six columns -->
											</td>
											<td class="wrapper">
												<!-- begin six columns -->
												<table class="six columns">
													<tr>
														<td class="text-right valign-middle">
															<span class="template-label">인증된 이메일</span>
														</td>
														<td class="expander"></td>
													</tr>
												</table>
												<!-- end six columns -->
											</td>
										</tr>
									</table>
									<!-- end container -->
								</center>
							</td>
						</tr>
					</table>
					<!-- end page header -->
					<!-- begin page container -->
					<table class="container content dark-theme">
						<tr>
							<td>
								<!-- begin row -->
								<table class="row">
									<tr>
										<!-- begin wrapper -->
										<td class="wrapper">
											<table class="twelve columns">
												<tr>
													<td class="last">
														<h4>부트스트랩에 대해서</h4>
														<p class="m-b-5">Please click the following URL to activate your account:</p>
													</td>
												</tr>
												<tr>
													<td class="panel">
														<a href="javascript:;">https://www.wrapbootstrap.com/registration/activate/?code=28a782891</a>
													</td>
												</tr>
												<tr>
													<td>
														<p class="m-t-15 last">If clicking the URL above does not work, copy and paste the URL into a browser window.</p>
													</td>
												</tr>
											</table>
										</td>
										<!-- end wrapper -->
									</tr>
								</table>
								<!-- end row -->
								<!-- begin divider -->
								<table class="divider"></table>
								<!-- end divider -->
								<!-- begin row -->
								<table class="row">
									<tr>
										<!-- begin wrapper -->
										<td class="wrapper">
											<!-- begin twelve columns -->
											<table class="twelve columns">
												<tr>
													<td>
														<h4>Discount 80%!</h4>
														<p>
															Quisque eget pulvinar nisi, et mattis leo. Aenean nec ligula aliquet, tincidunt massa ac, eleifend velit. Ut ac enim a enim tempor volutpat. Mauris quis sagittis nunc, et convallis nulla. Fusce gravida lacus sed vulputate scelerisque.
														</p>
														<p>
															<a href="../index.html"><img src="{% static 'COLORADMIN_ADMIN/img/product/product-preview.jpg' %}" /></a>
														</p>
													</td>
												</tr>
											</table>
											<!-- end twelve columns -->
											<p>
												<i>This ia a system generated email and reply is not required.</i>
											</p>
										</td>
										<!-- end wrapper -->
									</tr>
								</table>
								<!-- end row -->
							</td>
						</tr>
					</table>
					<!-- end page container -->
					<table class="container content dark-theme">
						<tr>
							<td>
								<!-- begin row -->
								<table class="row">
									<tr>
										<td class="wrapper">
											<!-- begin twelve columns -->
											<table class="twelve columns">
												<tr>
													<td>
														<h4>Latest News.</h4>
														<table>
															<tr>
																<td>
																	<a href="../index.html"><img src="{% static 'COLORADMIN_ADMIN/img/product/product-preview.jpg' %}" /></a>
																</td>
															</tr>
														</table>
														<p class="last">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
														</p>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
											<!-- end twelve columns -->
										</td>
									</tr>
								</table>
								<!-- end row -->
								<!-- begin divider -->
								<table class="divider"></table>
								<!-- end divider -->
								<!-- begin row -->
								<table class="row">
									<tr>
										<td class="wrapper">
											<!-- begin six columns -->
											<table class="six columns">
												<tr>
													<td>
														<h4>Discount 80%!</h4>
														<p>
															Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt id sapien quis posuere. In sed odio consectetur, convallis arcu id.
														</p>
														<ul>
															<li>Maecenas sed elit sit amet</li>
															<li>Aenean elementum sagittis pellentesque</li>
															<li>Vivamus sagittis sapien a lacus eleifend</li>
															<li>Etiam vitae interdum magna</li>
															<li>Suspendisse tempus, turpis non rhoncus</li>
															<li>Ligula turpis placerat nibh</li>
															<li>Sit amet egestas lorem nisl quis elit.</li>
														</ul>
														<table class="btn" align="center">
															<tr>
																<td>
																	<a href="javascript:;">View Details!</a>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
											<!-- end twelve columns -->
										</td>
										<td class="wrapper">
											<!-- begin six columns -->
											<table class="six columns">
												<tr>
													<td>
														<table align="center">
															<tr>
																<td>
																	<a href="../index.html"><img src="{% static 'COLORADMIN_ADMIN/img/product/product-preview-iphone.png' %}" width="100%" /></a>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
											<!-- end six columns -->
										</td>
									</tr>
								</table>
								<!-- end row -->
								<!-- begin divider -->
								<table class="divider"></table>
								<!-- end divider -->
								<!-- begin row -->
								<table class="row">
									<tr>
										<td class="wrapper">
											<table class="twelve columns">
												<tr>
													<td class="last">
														<h4>Other Promotion</h4>
														<p>
															Praesent rhoncus sed lectus sit amet cursus. Aenean a commodo ipsum. Pellentesque malesuada mauris ut nibh porta, nec imperdiet odio hendrerit. Vivamus vel lectus nulla. Maecenas tortor neque, dignissim sed odio eget, venenatis interdum orci.
														</p>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- end row -->
								<!-- begin row -->
								<table class="row">
									<tr>
										<td class="wrapper">
											<!-- begin four columns -->
											<table class="four columns">
												<tr>
													<td>
														<table>
															<tr>
																<td>
																	<a href="../index.html"><img src="{% static 'COLORADMIN_ADMIN/img/product/product-preview-sm.jpg' %}" /></a>
																</td>
															</tr>
														</table>
														<h5>Product 1</h5>
														<p>Lorem ipsum dolor sit amet, ut laoreet elit, sed diam.</p>
														<table class="btn primary">
															<tr>
																<td>
																	<a href="javascript:;">View Details!</a>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
											<!-- end four columns -->
										</td>
										<td class="wrapper">
											<!-- begin four columns -->
											<table class="four columns">
												<tr>
													<td>
														<table>
															<tr>
																<td>
																	<a href="../index.html"><img src="{% static 'COLORADMIN_ADMIN/img/product/product-preview-sm.jpg' %}" /></a>
																</td>
															</tr>
														</table>
														<h5>Product 2</h5>
														<p>Lorem ipsum dolor sit amet, ut laoreet elit, sed diam.</p>
														<table class="btn orange">
															<tr>
																<td>
																	<a href="javascript:;">View Details!</a>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
											<!-- end four columns -->
										</td>
										<td class="wrapper">
											<!-- begin four columns -->
											<table class="four columns">
												<tr>
													<td>
														<table>
															<tr>
																<td>
																	<a href="../index.html"><img src="{% static 'COLORADMIN_ADMIN/img/product/product-preview-sm.jpg' %}" /></a>
																</td>
															</tr>
														</table>
														<h5>Product 3</h5>
														<p>Lorem ipsum dolor sit amet, ut laoreet elit, sed diam.</p>
														<table class="btn white">
															<tr>
																<td>
																	<a href="javascript:;">View Details!</a>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
											<!-- end four columns -->
										</td>
									</tr>
								</table>
								<!-- end row -->
								<br />
							</td>
						</tr>
					</table>

					<!-- begin page footer -->
					<table class="row footer">
						<tr>
							<td class="center" align="center">
								<center>
									<!-- begin container -->
									<table class="container">
										<tr>
											<td class="wrapper">
												<table class="six columns">
													<tr>
														<td>
															&copy; AMOISOO 2020.
														</td>
														<td class="expander"></td>
													</tr>
												</table>
											</td>
											<td class="wrapper">
												<table class="six columns">
													<tr>
														<td class="wrapper text-right valign-middle">
															<a href="javascript:;">대하여</a>
															&nbsp;
															<a href="javascript:;">기본값에</a>
															&nbsp;
															<a href="javascript:;">사용 규칙</a>
														</td>
														<td class="expander"></td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
									<!-- end container -->
								</center>
							</td>
						</tr>
					</table>
					<!-- end page footer -->
				</center>
			</td>
		</tr>
	</table>

    <br/>

{% endblock %}