{% extends "COLORADMIN_ADMIN/BASE/base_layout.html" %}
{% load static i18n %}

{% block body_extra %}{% endblock %}



{% block page_navi %}
    {% if LAYOUT.NAVI_POSITION == 'TOP' %}
        {% include 'COLORADMIN_ADMIN/COMMON/NAVI_TOP.html' %}
    {% else %}
        {% include 'COLORADMIN_ADMIN/COMMON/NAVI_SIDE.html' %}

    {% endif %}
{% endblock %}

{% block page_content %}





		            <div id="content" class="content">

                            <h1 class="page-header"><a class="text-black" href="{% url 'support:index' %}">QnA</a> <small>&nbsp;&nbsp;&nbsp;질문 대답</small></h1>

                            <a href="#" class="widget-card widget-card-rounded">
                              <div class="widget-card-cover" style="background-image: url({% static 'COLORADMIN_ADMIN/img/gallery/gallery-portrait-11-thumb.jpg' %})"></div>
                              <div class="widget-card-content">
                                <b class="text-white">Download and get free trial.</b>
                              </div>
                              <div class="widget-card-content bottom">
                                <i class="fab fa-pushed fa-5x text-indigo"></i>
                                <h4 class="text-white m-t-10"><b>Adobe<br />After Effects</b></h4>
                                <h5 class="f-s-12 text-white-transparent-7 m-b-2"><b>테크니컬 디렉터</b></h5>
                              </div>
                            </a>


        					<div id="accordion" class="accordion">
						<!-- begin card -->
						<div class="card bg-dark text-white">
							<div class="card-header  pointer-cursor d-flex align-items-center text-black" style="background-color: #EBEBEC" data-toggle="collapse" data-target="#collapseOne">
								<i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Collapsible Group Item #1
							</div>
							<div id="collapseOne" class="collapse show" data-parent="#accordion">
								<div class="card-body text-black" style="background-color: rgb(245, 246, 247)">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<!-- end card -->
						<!-- begin card -->
						<div class="card bg-dark text-white">
							<div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center collapsed" data-toggle="collapse" data-target="#collapseTwo">
								<i class="fa fa-circle fa-fw text-indigo mr-2 f-s-8"></i> Collapsible Group Item #2
							</div>
							<div id="collapseTwo" class="collapse" data-parent="#accordion">
								<div class="card-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<!-- end card -->
						<!-- begin card -->
						<div class="card bg-dark text-white">
							<div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center collapsed" data-toggle="collapse" data-target="#collapseThree">
								<i class="fa fa-circle fa-fw text-teal mr-2 f-s-8"></i> Collapsible Group Item #3
							</div>
							<div id="collapseThree" class="collapse" data-parent="#accordion">
								<div class="card-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<!-- end card -->
						<!-- begin card -->
						<div class="card bg-dark text-white">
							<div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center collapsed" data-toggle="collapse" data-target="#collapseFour">
								<i class="fa fa-circle fa-fw text-info mr-2 f-s-8"></i> Collapsible Group Item #4
							</div>
							<div id="collapseFour" class="collapse" data-parent="#accordion">
								<div class="card-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<!-- end card -->
						<!-- begin card -->
						<div class="card bg-dark text-white">
							<div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center collapsed" data-toggle="collapse" data-target="#collapseFive">
								<i class="fa fa-circle fa-fw text-warning mr-2 f-s-8"></i> Collapsible Group Item #5
							</div>
							<div id="collapseFive" class="collapse" data-parent="#accordion">
								<div class="card-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<!-- end card -->
						<!-- begin card -->
						<div class="card bg-dark text-white">
							<div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center collapsed" data-toggle="collapse" data-target="#collapseSix">
								<i class="fa fa-circle fa-fw text-danger mr-2 f-s-8"></i> Collapsible Group Item #6
							</div>
							<div id="collapseSix" class="collapse" data-parent="#accordion">
								<div class="card-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<!-- end card -->
						<!-- begin card -->
						<div class="card bg-dark text-white">
							<div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center collapsed" data-toggle="collapse" data-target="#collapseSeven">
								<i class="fa fa-circle fa-fw text-muted mr-2 f-s-8"></i> Collapsible Group Item #7
							</div>
							<div id="collapseSeven" class="collapse" data-parent="#accordion">
								<div class="card-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
							</div>
						</div>
						<!-- end card -->
					</div> <br/>

                             <div class="widget-list widget-list-rounded">
                  <!-- begin widget-list-item -->
                  <a href="#" class="widget-list-item">
                    <div class="widget-list-media icon"><i class="fa fa-ellipsis-v bg-lime text-inverse text-white"></i></div>
                    <div class="widget-list-content"><h4 class="widget-list-title">QnA</h4></div>
                    <div class="widget-list-action text-nowrap text-grey-darker text-right"><i class="fa fa-angle-right text-muted t-plus-1 fa-lg m-l-5"></i></div>
                  </a>
                  <a href="#" class="widget-list-item">
                    <div class="widget-list-media icon"><i class="fa fa-ellipsis-v bg-lime text-inverse text-white"></i></div>
                    <div class="widget-list-content"><h4 class="widget-list-title">QnA</h4></div>
                    <div class="widget-list-action text-nowrap text-grey-darker text-right"><i class="fa fa-angle-right text-muted t-plus-1 fa-lg m-l-5"></i></div>
                  </a>
                  <a href="#" class="widget-list-item">
                    <div class="widget-list-media icon"><i class="fa fa-ellipsis-v bg-lime text-inverse text-white"></i></div>
                    <div class="widget-list-content"><h4 class="widget-list-title">Support</h4></div>
                    <div class="widget-list-action text-nowrap text-grey-darker text-right">설명<i class="fa fa-angle-right text-muted t-plus-1 fa-lg m-l-5"></i></div>
                  </a>
                  <a href="#" class="widget-list-item">
                    <div class="widget-list-media icon"><i class="fa fa-ellipsis-v bg-lime text-inverse text-white"></i></div>
                    <div class="widget-list-content"><h4 class="widget-list-title">QnA</h4></div>
                    <div class="widget-list-action text-nowrap text-grey-darker text-right">설명<i class="fa fa-angle-right text-muted t-plus-1 fa-lg m-l-5"></i></div>
                  </a>
                  <a href="#" class="widget-list-item">
                    <div class="widget-list-media icon"><i class="fa fa-ellipsis-v bg-lime text-inverse text-white"></i></div>
                    <div class="widget-list-content"><h4 class="widget-list-title">QnA</h4></div>
                    <div class="widget-list-action text-nowrap text-grey-darker text-right">설명<i class="fa fa-angle-right text-muted t-plus-1 fa-lg m-l-5"></i></div>
                  </a>
                  <a href="#" class="widget-list-item">
                    <div class="widget-list-media icon"><i class="fa fa-ellipsis-v bg-lime text-inverse text-white"></i></div>
                    <div class="widget-list-content"><h4 class="widget-list-title">QnA</h4></div>
                    <div class="widget-list-action text-nowrap text-grey-darker text-right">설명<i class="fa fa-angle-right text-muted t-plus-1 fa-lg m-l-5"></i></div>
                  </a>
                  <!-- end widget-list-item -->

                </div> <br/>

		            </div>








{% endblock %}


{% block page_footer %}
         {% include 'COLORADMIN_ADMIN/APP_SUPPORT/COMMON/FOOTER.html' %}
{% endblock %}