


{% extends "COLORADMIN_ADMIN/BASE/base_layout.html" %}
{% load static i18n %}

{% block body_extra %}{% endblock %}


{% block page_navi %}
    {% if LAYOUT.NAVI_POSITION == 'TOP' %}
        {% include 'COLORADMIN_ADMIN/COMMON/NAVI_TOP.html' %}
    {% else %}
        {% include 'COLORADMIN_ADMIN/COMMON/NAVI_SIDE.html' %}

    {% endif %}
{% endblock %}


{% block page_content %}

		<div id="content" class="content content-full-width">
			<!-- begin profile -->
			<div class="profile">
				<div class="profile-header">
					<!-- BEGIN profile-header-cover -->
					<div class="profile-header-cover"></div>
					<!-- END profile-header-cover -->
					<!-- BEGIN profile-header-content -->
					<div class="profile-header-content">
						<!-- BEGIN profile-header-img -->
						<div class="profile-header-img">
							<img src="{% static 'COLORADMIN_ADMIN/img/user/user-2.jpg' %}" alt="">
						</div>
						<!-- END profile-header-img -->
						<!-- BEGIN profile-header-info -->
						<div class="profile-header-info">
							<h4 class="mt-0 mb-1"> {{ user.username }}</h4>
							<p class="mb-2">Technical Deginer / </p>
							<a href="#" class="btn btn-xs btn-yellow">프로필 수정</a>
						</div>
						<!-- END profile-header-info -->
					</div>
					<!-- END profile-header-content -->
					<!-- BEGIN profile-header-tab -->
					<ul class="profile-header-tab nav nav-tabs">
						<li class="nav-item"><a href="#profile-post" class="nav-link " data-toggle="tab">포스트</a></li>
						<li class="nav-item"><a href="#profile-about" class="nav-link active" data-toggle="tab">관하여</a></li>
						<li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">사진</a></li>
						<li class="nav-item"><a href="#profile-videos" class="nav-link" data-toggle="tab">비디오</a></li>
						<li class="nav-item"><a href="#profile-friends" class="nav-link " data-toggle="tab">친구</a></li>
					</ul>
					<!-- END profile-header-tab -->
				</div>
			</div>
			<!-- end profile -->
			<!-- begin profile-content -->
			<div class="profile-content">
				<!-- begin tab-content -->
				<div class="tab-content p-0">
					<!-- begin #profile-post tab -->
					<div class="tab-pane fade  " id="profile-post">
						<!-- begin timeline -->
						        {% include 'COLORADMIN_ADMIN/APP_ACCOUNTS/COMMON/PROFILE_timeline.html' %}

						<!-- end timeline -->
					</div>
					<!-- end #profile-post tab -->
					<!-- begin #profile-about tab -->
					<div class="tab-pane fade active show" id="profile-about">
						        {% include 'COLORADMIN_ADMIN/APP_ACCOUNTS/COMMON/PROFILE_about.html' %}

					</div>
					<!-- end #profile-about tab -->
					<!-- begin #profile-photos tab -->
					<div class="tab-pane fade" id="profile-photos">

						        {% include 'COLORADMIN_ADMIN/APP_ACCOUNTS/COMMON/PROFILE_photo.html' %}
					</div>
					<!-- end #profile-photos tab -->
					<!-- begin #profile-videos tab -->
					<div class="tab-pane fade" id="profile-videos">
						        {% include 'COLORADMIN_ADMIN/APP_ACCOUNTS/COMMON/PROFILE_video.html' %}

						<!-- end row -->
					</div>
					<!-- end #profile-videos tab -->
					<!-- begin #profile-friends tab -->
					<div class="tab-pane fade " id="profile-friends">
						        {% include 'COLORADMIN_ADMIN/APP_ACCOUNTS/COMMON/PROFILE_friend.html' %}

					</div>
					<!-- end #profile-friends tab -->
				</div>
				<!-- end tab-content -->
			</div>
			<!-- end profile-content -->
		</div>


{% endblock %}




