<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <title>Title</title>
</head>
<body>



<h2>사장님!</h2>
<br/>

레이아웃 확인하세요.<br/><br/>


<a href="./book/book/jinyoung/">사이트로 이동</a>




대근이 AWS 서버로 이동해서 작동중:
OS : Ubuntu 20
Server : Django 3.0 (Python 3.8)
하드 용량 : 6 기가
1년 무료버전.
</body>
</html>