{% extends "COLORADMIN_ADMIN/BASE/base_forum.html" %}
{% load static i18n %}

{% block body_extra %}{% endblock %}


{% block page_navi %}
    {% if LAYOUT.NAVI_POSITION == 'TOP' %}
        {% include 'COLORADMIN_ADMIN/APP_FORUM/COMMON/NAVI_TOP.html' %}
    {% else %}
        {% include 'COLORADMIN_ADMIN/APP_FORUM/COMMON/NAVI_SIDE.html' %}

    {% endif %}
{% endblock %}




{% block page_content %}



		<div id="content" class="content">
			<!-- begin breadcrumb -->

                <!-- begin page-header -->
                <h1 class="page-header m-b-10">FORUM <small>포럼</small></h1>
                <!-- end page-header -->

                <p class="m-b-20">컬럼을 설정하세요</p>




		</div>

		<div id="content" class="content">

                <div class="row">
                    <!-- begin col-6 -->
                    <div class="col-xl-12   col-lg-12  m-b-5 p-b-1">
                        <!-- begin card-group -->
                        <div class="card-group">
                            <!-- begin card -->
                            <div class="card">
                                <div class="card-body bg-red">
                                    <h4 class="card-title "> <a class = "text-white"  href="{% url 'support:download' %}" class="widget-list-item">HTML</a> </h4>
                                    <p class="card-text text-white">HTML5, CSS3, JS, JQeryy 를 사용한다.</p>
                                    <p class="card-text ">
                                        <span class="badge badge-secondary">HTML5</span>
                                        <span class="badge badge-secondary">CSS3</span>
                                        <span class="badge badge-secondary">JS</span>
                                        <span class="badge badge-secondary">JQery</span>
                                    </p>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body bg-red">
                                    <h4 class="card-title "> <a class = "text-white"  href="{% url 'support:download' %}" class="widget-list-item">Python</a> </h4>
                                    <p class="card-text text-white">HTML5, CSS3, JS, JQeryy 를 사용한다.</p>
                                    <p class="card-text ">
                                        <span class="badge badge-secondary">File</span>
                                        <span class="badge badge-secondary">Source Code</span>
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body bg-red">
                                    <h4 class="card-title "> <a class = "text-white"  href="{% url 'support:download' %}" class="widget-list-item">Django</a> </h4>
                                    <p class="card-text text-white">&nbsp;</p>
                                    <p class="card-text ">
                                        <span class="badge badge-secondary">Python</span>
                                        <span class="badge badge-secondary">Django</span>
                                        <span class="badge badge-secondary">MySQL</span>
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body bg-red">
                                    <h4 class="card-title "> <a class = "text-white"  href="{% url 'support:download' %}" class="widget-list-item">Linux</a> </h4>
                                    <p class="card-text text-white">&nbsp;</p>
                                    <p class="card-text ">
                                        <span class="badge badge-secondary">Ubuntu</span>
                                        <span class="badge badge-secondary">CentOS</span>
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body bg-red">
                                    <h4 class="card-title "> <a class = "text-white"  href="{% url 'support:download' %}" class="widget-list-item">AWS</a> </h4>
                                    <p class="card-text text-white">&nbsp;</p>
                                    <p class="card-text ">
                                        <span class="badge badge-secondary">EC2</span>
                                        <span class="badge badge-secondary">DB</span>
                                        <span class="badge badge-secondary">S3</span>
                                        <span class="badge badge-secondary">Router53</span>
                                    </p>
                                </div>
                            </div>


                            <!-- end card -->
                            <!-- begin card -->

                            <!-- end card -->

                            <!-- end card -->
                        </div>
                        <!-- end card-group -->
                    </div>
                    <!-- end col-6 -->

                </div>
		</div>


<div id="content" class="content" style="min-height: 70vh; background: url({% static 'COLORADMIN_ADMIN/img/cover/cover-scrum-board.png' %}) no-repeat fixed; background-size: 360px; background-position: right bottom;">

            {% if user.is_authenticated %}
                    <div align="right"><a href="{% url 'forum:create' %}"  class="btn btn-success btn-sm btn-rounded pl-2 pr-3">&nbsp;&nbsp;포럼 작성</a><br/><br/></div>
            {% else %}

            {% endif %}



            <h4 class="m-t-0 m-b-20">포럼 리스트 ({{ forums|length }})</h4>


            <div class="widget-list widget-list-rounded m-b-30">
                <div class="row row-space-6">
                        {% for DATA in forums %}
                              <div class="col-xl-4   col-lg-6   m-b-5 p-b-1">

                                  <div class="widget-list-item height-70 ">

                                    <div class="widget-list-media icon"><i class="fa fa-align-justify bg-red text-inverse text-white"></i></div>
                                    <div class="widget-list-content">
                                      <h3 class="widget-list-title"><a class="f-s-14 text-black" href="{% url 'forum:detail'   DATA.slug %}">{{ DATA.title }}</a> </h3>
                                      <p class="widget-list-desc"></p>
                                    </div>


                                    {% if user.username == "lee" %}
                                                <div class="widget-list-action">
                                                  <a href="#" data-toggle="dropdown" class="text-muted pull-right">
                                                    <i class="fa fa-ellipsis-h f-s-14 "></i>
                                                  </a>
                                                  <ul class="dropdown-menu dropdown-menu-right">
                                                        <a href="{% url 'forum:update' DATA.slug %}" class="dropdown-item">편집</a>
                                                        <a href="{% url 'forum:delete' DATA.slug %}" class="dropdown-item">삭제</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a href="#" class="dropdown-item">{{ DATA.id }}</a>
                                                        <a href="#" class="dropdown-item">{{ DATA.modified }}</a>
                                                        <a href="#" class="dropdown-item">{{ DATA.user }}</a>
                                                  </ul>
                                                </div>
                                    {% else %}

                                    {% endif %}


                                    <div class="widget-list-action text-nowrap text-grey-darker text-right">
                                        <i class="fa fa-angle-right text-muted t-plus-1 fa-lg m-l-5"></i>
                                    </div>

                                  </div>
                              </div>

                        {% endfor %}
                </div>
            </div>



    {% include 'COLORADMIN_ADMIN/APP_FORUM/UI_Comp/pagination.html' with  DATAS=categories %}



</div>


{% endblock %}



