{% extends "COLORADMIN_ADMIN/BASE/base_forum.html" %}
{% load static i18n %}

{% block body_extra %}{% endblock %}


{% block page_navi %}
    {% if LAYOUT.NAVI_POSITION == 'TOP' %}
        {% include 'COLORADMIN_ADMIN/APP_FORUM/COMMON/NAVI_TOP.html' %}
    {% else %}
        {% include 'COLORADMIN_ADMIN/APP_FORUM/COMMON/NAVI_SIDE.html' %}

    {% endif %}
{% endblock %}




{% block page_content %}
      {% include 'FROALA/css_pre_include.html' %}

<div id="content" class="content"><div class="col-xl-12">
              <div class="shadow p-3 mb-5 bg-white rounded"><h4>페이지 작성</h4></div>



              <form  method="POST"   enctype="multipart/form-data" novalidate>
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="form-group col-md-6"><label for="id_title">타이틀</label>
                      <input type="text" class="form-control" id="id_title" name="title">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="id_slug">slug</label>
                      <input type="text" class="form-control" id="id_slug"  name="slug">
                    </div>

                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">서브타이틀</label>
                      <input type="text" class="form-control" id="subtitle"  name="subtitle">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">slug</label>
                      <input type="text" class="form-control" id="slug"  name="slug">

                    </div>
                    <div class="form-group col-md-2">
                      <label for="id">id</label>
                      <input type="text" class="form-control" id="id"  name="id">
                    </div>
                  </div>




                  <div class="form-group">
                    <label for="inputAddress2">이미지</label><br/>
                    <input type="file"  id="image" name="image" />
                  </div>



                  <div class="form-group">
                    <label for="id_note">노트</label>
                    <textarea class="form-control" id="note"  rows="10"  placeholder=""  name="note"></textarea>
                  </div>


                  <br/><br/><br/>

                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}

                <input type="hidden" name="parent" id="parent" value="{{ id_forum }}">


                  <button type="submit" class="btn btn-primary primaryAction   btn-block">{% trans "새글 작성" %}</button>




            </form>



</div></div>

          {% include 'FROALA/js_post_include.html' %}

{% endblock %}



