{% load static i18n %}


            {% if object.component == "" %}<option selected></option>{% else %}<option ></option>{% endif %}


            {% if object.component == "Header" %}<option selected>Header</option>{% else %}<option >Header</option>{% endif %}
            {% if object.component == "Section" %}<option selected>Section</option>{% else %}<option >Section</option>{% endif %}
            {% if object.component == "Title" %}<option selected>Title</option>{% else %}<option >Title</option>{% endif %}
            {% if object.component == "Table" %}<option selected>Table</option>{% else %}<option >Table</option>{% endif %}
            {% if object.component == "Parameter" %}<option selected>Parameter</option>{% else %}<option >Parameter</option>{% endif %}
            {% if object.component == "Parameter2" %}<option selected>Parameter2</option>{% else %}<option >Parameter2</option>{% endif %}
            {% if object.component == "Memo" %}<option selected>Memo</option>{% else %}<option >Memo</option>{% endif %}
            {% if object.component == "Note" %}<option selected>Note</option>{% else %}<option >Note</option>{% endif %}
            {% if object.component == "Info" %}<option selected>Info</option>{% else %}<option >Info</option>{% endif %}
            {% if object.component == "Text" %}<option selected>Text</option>{% else %}<option >Text</option>{% endif %}
            {% if object.component == "Code" %}<option selected>Code</option>{% else %}<option >Code</option>{% endif %}
            {% if object.component == "Latex" %}<option selected>Latex</option>{% else %}<option >Latex</option>{% endif %}
            {% if object.component == "ImageView" %}<option selected>ImageView</option>{% else %}<option >ImageView</option>{% endif %}
            {% if object.component == "Tab" %}<option selected>Tab</option>{% else %}<option >Tab</option>{% endif %}
            {% if object.component == "Sum" %}<option selected>Sum</option>{% else %}<option >Sum</option>{% endif %}
            {% if object.component == "Timeline" %}<option selected>Timeline</option>{% else %}<option >Timeline</option>{% endif %}
            {% if object.component == "Accrodion" %}<option selected>Accrodion</option>{% else %}<option >Accrodion</option>{% endif %}
            {% if object.component == "List" %}<option selected>List</option>{% else %}<option >List</option>{% endif %}
            {% if object.component == "Detail" %}<option selected>Detail</option>{% else %}<option >Detail</option>{% endif %}
            {% if object.component == "FAQ" %}<option selected>FAQ</option>{% else %}<option >FAQ</option>{% endif %}
            {% if object.component == "Carousel" %}<option selected>Carousel</option>{% else %}<option >Carousel</option>{% endif %}
            {% if object.component == "Card" %}<option selected>Card</option>{% else %}<option >Card</option>{% endif %}
            {% if object.component == "Box" %}<option selected>Box</option>{% else %}<option >Box</option>{% endif %}
            {% if object.component == "Grid" %}<option selected>Grid</option>{% else %}<option >Grid</option>{% endif %}
            {% if object.component == "Todo" %}<option selected>Todo</option>{% else %}<option >Todo</option>{% endif %}
            {% if object.component == "Bbs" %}<option selected>Bbs</option>{% else %}<option >Bbs</option>{% endif %}
            {% if object.component == "Search" %}<option selected>Search</option>{% else %}<option >Search</option>{% endif %}
            {% if object.component == "Company" %}<option selected>Company</option>{% else %}<option >Company</option>{% endif %}
            {% if object.component == "Gallery" %}<option selected>Gallery</option>{% else %}<option >Gallery</option>{% endif %}
            {% if object.component == "Chart" %}<option selected>Chart</option>{% else %}<option >Chart</option>{% endif %}
            {% if object.component == "TableChart" %}<option selected>TableChart</option>{% else %}<option >TableChart</option>{% endif %}