{% load static i18n %}


                                <option ></option>
                                <option >Header</option>
                                <option selected>Section</option>
                                <option >Title</option>

                                <option >Table</option>
                                <option >Parameter</option>
                                <option >Parameter2</option>
                                <option >Memo</option>
                                <option >Note</option>
                                <option >Info</option>
                                <option >Text</option>
                                <option >Code</option>
                                <option >Latex</option>
                                <option >ImageView</option>

                                <option >Tab</option>
                                <option >Sum</option>
                                <option >Timeline</option>
                                <option >Accrodion</option>
                                <option >List</option>
                                <option >Detail</option>
                                <option >FAQ</option>
                                <option >Carousel</option>
                                <option >Card</option>
                                <option >Box</option>
                                <option >Grid</option>
                                <option >Todo</option>
                                <option >Bbs</option>
                                <option >Search</option>
                                <option >Company</option>
                                <option >Gallery</option>
                                <option >Chart</option>
                                <option >TableChart</option>