{% load static i18n %}

{% if user.is_authenticated %}

    <div class="widget-list-action">
          <a href="#" data-toggle="dropdown" class="text-muted pull-right">
            <i class="fa fa-ellipsis-h f-s-14 text-red"></i> &nbsp;
          </a>
          <ul class="dropdown-menu dropdown-menu-right">


                <a href="#" class="dropdown-item">Header</a>
                <div class="dropdown-divider"></div>

                <a href="#" class="dropdown-item">Section</a>


                <a href="#" class="dropdown-item">Card</a>
                <a href="#" class="dropdown-item">Tab</a>
                <a href="#" class="dropdown-item">Accrodion</a>
                <a href="#" class="dropdown-item">List</a>
                <a href="#" class="dropdown-item">Detail</a>
                <a href="#" class="dropdown-item">Box</a>
                <a href="#" class="dropdown-item">Timeline</a>
                <a href="#" class="dropdown-item">Todo</a>
                <a href="#" class="dropdown-item">Bbs</a>
                <a href="#" class="dropdown-item">FAQ</a>

                <a href="#" class="dropdown-item">Search</a>
                <a href="#" class="dropdown-item">Carousel</a>
                <a href="#" class="dropdown-item">Gallery</a>
                <a href="#" class="dropdown-item">Company</a>

                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Chart</a>

          </ul>
    </div>
    <div class="widget-list-action">
          <a href="#" data-toggle="dropdown" class="text-muted pull-right">
            <i class="fa fa-ellipsis-h f-s-14 text-red"></i> &nbsp;
          </a>
          <ul class="dropdown-menu dropdown-menu-right">

                <a href="#" class="dropdown-item">Section</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Parameter</a>
                <a href="#" class="dropdown-item">Parameter2</a>
                <a href="#" class="dropdown-item">Code</a>
                <div class="dropdown-divider"></div>

                <a href="#" class="dropdown-item">Memo</a>
                <a href="#" class="dropdown-item">Note</a>
                <a href="#" class="dropdown-item">Info</a>
                <a href="#" class="dropdown-item">Text</a>
                <a href="#" class="dropdown-item">ImageView</a>
                <div class="dropdown-divider"></div>

          </ul>
    </div>
&nbsp;&nbsp;&nbsp;&nbsp;

{% endif %}