{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Color Admin | Dashboard</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static 'COLORADMIN_ADMIN/css/default/app.min.css' %}" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="{% static 'COLORADMIN_ADMIN/plugins/nvd3/build/nv.d3.css' %}" rel="stylesheet" />

	<!-- ================== END PAGE LEVEL STYLE ================== -->
</head>

{% if LAYOUT.BOX  %}
    <body class="boxed-layout">
{% else %}
    <body >
{% endif %}

	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="
	                                    page-container fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar
	                                    {% if LAYOUT.NAVI_POSITION == 'TOP' %}
	                                        page-with-top-menu page-without-sidebar
	                                    {% else %}

	                                    {% endif %}


                                  "

    >


            {% block page_header %}
                    {% include 'COLORADMIN_ADMIN/COMMON/HEADER.html' %}
            {% endblock %}



            {% block page_navi %}
                {% if LAYOUT.NAVI_POSITION == 'TOP' %}
                    {% include 'COLORADMIN_ADMIN/COMMON/NAVI_TOP.html' %}
                {% else %}
                    {% include '00_sample/coloradmin/page/MENU_SIDE.html' %}
                {% endif %}
            {% endblock %}

            <!-- end page container -->
            {% block page_content %}
                <div id="content" class="content">
                    contents
                </div>
            {% endblock %}


            {% block page_footer %}
                     {% include 'COLORADMIN_ADMIN/COMMON/FOOTER.html' %}
            {% endblock %}

    </div>
	<!-- ================== BEGIN BASE JS ================== -->


    <script src="{% static 'COLORADMIN_ADMIN/js/app.min.js' %}"></script>
	<script src="{% static 'COLORADMIN_ADMIN/js/theme/default.min.js' %}"></script>

	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->


	<script src="{% static 'COLORADMIN_ADMIN/plugins/d3/d3.min.js' %}"></script>
	<script src="{% static 'COLORADMIN_ADMIN/plugins/nvd3/build/nv.d3.min.js' %}"></script>
	<script src="{% static 'COLORADMIN_ADMIN/plugins/clipboard/dist/clipboard.min.js' %}"></script>
	<script src="{% static 'COLORADMIN_ADMIN/plugins/highlight.js/highlight.min.js' %}"></script>
	<script src="{% static 'COLORADMIN_ADMIN/js/demo/widget.demo.js' %}"></script>
	<script src="{% static 'COLORADMIN_ADMIN/js/demo/render.highlight.js' %}"></script>

	<!-- ================== END PAGE LEVEL JS ================== -->
</body>
</html>