{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Color Admin | Dashboard</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static 'COLORADMIN_ADMIN/css/default/app.min.css' %}" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="{% static 'COLORADMIN_ADMIN/plugins/jvectormap-next/jquery-jvectormap.css' %}" rel="stylesheet" />
	<link href="{% static 'COLORADMIN_ADMIN/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}" rel="stylesheet" />
	<link href="{% static 'COLORADMIN_ADMIN/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
</head>
<body >

	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->

	<!-- end page container -->
    {% block page_content %}

    {% endblock %}
	<!-- ================== BEGIN BASE JS ================== -->


    <script src="{% static 'COLORADMIN_ADMIN/js/app.min.js' %}"></script>
	<script src="{% static 'COLORADMIN_ADMIN/js/theme/default.min.js' %}"></script>

	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->


	<!-- ================== END PAGE LEVEL JS ================== -->
	<script src="{% static 'COLORADMIN_ADMIN/plugins/apexcharts/dist/apexcharts.min.js' %}"></script>

	<script src="{% static 'COLORADMIN_ADMIN/js/demo/chart-apex.demo.js' %}"></script>

</body>
</html>