{% load static i18n common%}




<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">



                    <li class="nav-item ">
                        <a class="nav-link dropdown-toggle arrow-none" href="#"  >
                            <i class="bx bx-home-circle mr-2"></i><span key="t-dashboards">홈</span>
                        </a>
                    </li>




                {% for MENU_ITEM in  MENU_LIST %}
                    {% if MENU_ITEM.component == "Menu" %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-customize mr-2"></i><span key="t-apps">{{ MENU_ITEM.title }}</span> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-pages">



                                    {% for SUBMENU_ITEM in MENU_LIST_SUB|hash:MENU_ITEM.id_sort %}

                                            {% if SUBMENU_ITEM.component == "Menu" %}

                                                        {% include 'SKOTE/APP_ARBRE/COMMON/NAVI_TOP_Comp_Menu.html' with DATA=SUBMENU_ITEM  %}

                                            {% else %}

                                                <a href="./?db={{ DB_NAME }}&id={{ SUBMENU_ITEM.uuid }}"  class=" dropdown-item">{{ SUBMENU_ITEM.title }}</a>
                                            {% endif %}

                                        {%  endfor %}
                                </div>
                            </li>

                    {% else %}
                            <li class="nav-item ">
                                <a class="nav-link dropdown-toggle arrow-none" href="./?db={{ DB_NAME_ONLY }}&id={{ MENU_ITEM.uuid }}"  >
                                    <i class=" mr-2"></i><span key="t-dashboards">{{ MENU_ITEM.title }}</span>
                                </a>
                            </li>

                    {% endif %}



                {%  endfor %}




                </ul>
            </div>
        </nav>
    </div>
</div>